---
---

<div class="container">
  <img src="images/image-web-3-desktop.jpg" alt="">
  <div class="flex-r">
    <h1>The Bright Future of Web 3.0?</h1>

    <div class="flex-c">
      <p>We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. But is it really fulfilling it's promise?</p>
      <button>READ MORE</button>
    </div>
  </div>
</div>

<style lang="scss">
  .container{
    
    .flex-r{
      display: flex;

      h1{
        display: flex;
        flex-grow: 4;
      }

      .flex-c{
        max-width: 500px;
        display: flex;
        flex-direction: column;
      }
    }
  }
</style>